@mixin col($x) {
  display: inline-block;
  float: left;
	width: $total-width * (((($gutter-width + $column-width) * $x) - $gutter-width) / $gridsystem-width);
	margin: 0 $total-width * (($gutter-width * .5) / $gridsystem-width);
}

@mixin row($x) {
  display: inline-block;
  float: left;
	width: $total-width * (((($gutter-width + $column-width) * $x) - $gutter-width) / $gridsystem-width);
	margin: 0 $total-width * (($gutter-width * .5) / $gridsystem-width);
	@include clearfix;
}

@mixin push($offset: 1) {
	margin-left: $total-width*((($gutter-width+$column-width)*$offset) / $gridsystem-width) + $total-width*(($gutter-width*.5)/$gridsystem-width);
}
@mixin pull($offset:1) {
	margin-right: $total-width*((($gutter-width+$column-width)*$offset) / $gridsystem-width) + $total-width*(($gutter-width*.5)/$gridsystem-width);
}
