@mixin button ($width, $button-color, $text-button-color){
    width: $width;
    padding: .5em;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    color: $text-button-color;
    background-color: $button-color;
    cursor: pointer;
    transition: background .8s;
    &:hover{
      background-color: darken($button-color, 10%);
    }
}
@mixin border-radius ($radius, $width: null, $style: null, $color: null){
  border: $style $width $color;
  border-radius: $radius;
}

@mixin clearfix(){
   *{ zoom:1; }
    &:before,
    &:after {
      content: '';
      display:table;
    }
    &:after {
      clear:both;
  }
}

%left {
  margin-left: 0px !important;
}
%right {
  margin-right: 0px !important;
}

@mixin excerpt($font-size: 16px, $line-height: 1.142, $lines-to-show: 3) {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @-moz-document url-prefix() {
    overflow: hidden;
    position: relative;
    &:before {
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem;
    }
    &:after {
      content: '';
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1;
    }
  }
}
